<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Меню</title>
    <link rel="stylesheet" href="/menu_page/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Головне Меню</h1>
      <ul class="menu">
        <li>
          <a href="/preview/view"
            >Переглянути список дисциплінарної практики за підрозділ</a
          >
        </li>
        <% if (userRole === "Начальник курсу" || userRole === "Курсовий офіцер")
        { %>
        <li>
          <a href="/manage/manage-soldiers"
            >Додати, видалити або редагувати данні про військового</a
          >
        </li>
        <% } %>
        <li>
          <a href="/work/add-disciplinary-record"
            >Додати дисциплінарну практику</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
